# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/
ENV.bak/
env.bak/

# dotenv environment variables file
.env

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace

# Other
captured_region.png
selected_screenshot.png
test_image.png 